.login-wrapper{
    display:grid;
    grid-template-columns:1.2fr 1fr;
    min-height:100vh;
    background:#f8fafc;
}

.login-left{
    background: linear-gradient(135deg, #3f51b5, #6a5ff5);;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:70px;
    position:relative;
    overflow:hidden;
}

.login-left::before{
    content:"";
    position:absolute;
    width:430px;
    height:430px;
    border-radius:50%;
    background:rgba(255,255,255,.08);
    top:-140px;
    left:-120px;
}

.login-left::after{
    content:"";
    position:absolute;
    width:280px;
    height:280px;
    border-radius:50%;
    background:rgba(255,255,255,.08);
    bottom:-80px;
    right:-80px;
}

.brand{
    max-width:500px;
    position:relative;
    z-index:2;
}

.brand-logo{
    width:90px;
    height:90px;
    border-radius:22px;
    background:rgba(255,255,255,.15);
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:28px;
}

.brand-logo mat-icon{
    font-size:48px;
    width:48px;
    height:48px;
}

.brand h1{
    font-size:46px;
    margin:0 0 18px;
    color:#fff;
}

.brand p{
    font-size:17px;
    line-height:1.8;
    margin-bottom:40px;
    opacity:.92;
}

.feature-list{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.feature{
    display:flex;
    align-items:center;
    gap:14px;
    font-size:16px;
}

.feature mat-icon{
    padding:10px;
    border-radius:10px;
    background:rgba(255,255,255,.18);
}

.login-right{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px;
}

.login-card{
    width:100%;
    max-width:430px;
    border-radius:22px!important;
    padding:30px;
    box-shadow:0 20px 45px rgba(0,0,0,.08)!important;
}

.portal-switch{
    display:flex;
    justify-content:center;
    gap:12px;
    margin-bottom:26px;
}

mat-card-header{
    text-align:center;
    margin-bottom:28px;
}

mat-card-title{
    justify-content:center;
    font-size:30px!important;
}

mat-card-subtitle{
    margin-top:6px;
}

.full-width{
    width:100%;
    margin-bottom:18px;
}

.login-btn{
    width:100%;
    height:48px;
    font-size:15px;
    font-weight:600;
    margin-top:10px;
}

.alt-link{
    text-align:center;
    margin-top:20px;
    color:#64748b;
}

.alt-link a{
    color:#ff5722;
    text-decoration:none;
    font-weight:600;
}

.alt-link a:hover{
    text-decoration:underline;
}

@media(max-width:900px){

.login-wrapper{
    grid-template-columns:1fr;
}

.login-left{
    display:none;
}

.login-right{
    padding:24px;
}

.login-card{
    padding:24px;
}

}