/* Global styles */
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page-container {
  padding: 24px;
  max-width: 1200px;
  margin: 0 auto;
}

.spacer {
  flex: 1 1 auto;
}

.mat-column-actions {
  width: 120px;
  text-align: center;
}
