<div class="page-container">
  <mat-card>

    <mat-card-header>
      <mat-card-title>Customers</mat-card-title>

      <span class="spacer"></span>

      @if (isManager) {
        <button
          mat-raised-button
          color="primary"
          (click)="addCustomer()">
          <mat-icon>add</mat-icon>
          Add Customer
        </button>
      }
    </mat-card-header>

    <mat-card-content>

      <h3>Total Customers: {{ customers.length }}</h3>

      <div *ngIf="customers.length === 0">
        No customers found.
      </div>

      <div *ngFor="let customer of customers">
        <p>
          {{ customer.customerId }} -
          {{ customer.name }} -
          {{ customer.email }} -
          {{ customer.phone }}
        </p>
      </div>

    </mat-card-content>

  </mat-card>
</div>